__pycache__/
*.pyc
*.pyo
*.pyd

.env
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/

# Build, dist, egg-info
build/
dist/
*.egg-info/

# Docker
*.log

# VS Code
.vscode/
performance/deployment_result.txt
performance/resource_result.csv
performance/resource_result.txt